div.fsapanel {
    font-size: 11px;
    line-height: 1em;
    width: 120px;
    vertical-align: middle;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: -20px;
    right: -50px;
    margin-left: 0px !important;
}

div.fsapanel > p {
    margin: 8px;
    text-align: center;
    width: 100%;
}

label.fsadatelabel {
	font-weight: bold;
}

div.fsanorating {
    right: -20px;
}

.fsaheader {
    font-weight: bold;
}

div.restBoxContent {
    margin-bottom: 50px;
}

div#restMainInfoWrapper {
    min-height: 60px;
}

div#restMainInfoWrapper > div:not(.fsapanel) {
    max-width: 25%;
}