div.fsapanel {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    max-width: 120px;
    text-align: center;
}

label.fsadatelabel {
	font-weight: bold;
}

.fsaheader {
    font-weight: bold;
}

div.fsanorating {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(213, 226, 86);
    color: black;
}

p.fsarating {
    margin-top: 0px;
}

section[data-test-id="offlinerestaurant"] p.fsarating img {
    opacity: .5;
}