div.fsapanel {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    max-width: 120px;
    text-align: center;
}

label.fsadatelabel {
	font-weight: bold;
}

.fsaheader {
    font-weight: bold;
}

div.fsanorating {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(213, 226, 86);
    color: black;
}

p.fsarating {
    margin-top: 0px;
}

section[data-test-id="offlinerestaurant"] p.fsarating img {
    opacity: .5;
}

img.fsaloading {
    content: url('http://bowdb.alexbowyer.com/fsa/reload-61px.gif');
}

img.fsaAI {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_awaitinginspection_en-gb.jpg');
}

img.fsaAP {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_awaitingpublication_en-gb.jpg');
}

img.fsaE {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_exempt_en-gb.jpg');
}

img.fsa-2 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_nodataavailable_en-gb.jpg');
}

img.fsa-1 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_nodataavailable_en-gb.jpg');
}

img.fsa0 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_0_en-gb.jpg');
}

img.fsa1 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_1_en-gb.jpg');
}


img.fsa2 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_2_en-gb.jpg');
}


img.fsa3 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_3_en-gb.jpg');
}


img.fsa4 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_4_en-gb.jpg');
}

img.fsa5 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_5_en-gb.jpg');
}

img.fsaNA {
    content: url('chrome-extension://__MSG_@@extension_id__/images/ratings/fhrs_nodataavailable_en-gb.jpg');
}